@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
	--bright-orange: hsl(31, 77%, 52%);
	--dark-cyan: hsl(184, 100%, 22%);
	--very-dark-cyan: hsl(179, 100%, 13%);
	--transparent-white: hsla(0, 0%, 100%, 0.75);
	--very-light-gray: hsl(0, 0%, 95%);
	--padings-cards: 36px;
	--border-radius-cards-container: 3px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lexend Deca', sans-serif;
	font-size: 15px;
}

.cards-container {
	padding: 2em;
	min-width: 375px;
	width: min-content;
	margin: 56px auto;
	display: flex;
	flex-direction: column;
}

.card__sedans {
	background-color: var(--bright-orange);
	padding: var(--padings-cards);
	border-top-left-radius: var(--border-radius-cards-container);
	border-top-right-radius: var(--border-radius-cards-container);
}

.card__suvs {
	background-color: var(--dark-cyan);
	padding: var(--padings-cards);
}

.card__luxury {
	background-color: var(--very-dark-cyan);
	padding: var(--padings-cards);
	border-bottom-left-radius: var(--border-radius-cards-container);
	border-bottom-right-radius: var(--border-radius-cards-container);
}

.cards--title {
	text-transform: uppercase;
	color: var(--very-light-gray);
	font-family: 'Big Shoulders Display', cursive;
	font-size: 38px;
	margin: 26px auto;
}

.cards--paragraph {
	color: var(--transparent-white);
	width: 236px;
	line-height: 26px;
	margin-bottom: 10px;
}

.cards--btn {
	padding: 16px;
	width: 150px;
	background-color: var(--very-light-gray);
	text-transform: capitalize;
	border: 0;
	border-radius: 26px;
	-webkit-border-radius: 26px;
	-moz-border-radius: 26px;
	-ms-border-radius: 26px;
	-o-border-radius: 26px;
	margin: 16px auto;
	cursor: pointer;
}

.btn-sedans {
	color: var(--bright-orange);
}

.btn-suvs {
	color: var(--dark-cyan);
}

.btn-luxury {
	color: var(--very-dark-cyan);
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 800px) {
	.cards-container {
		display: flex;
		flex-direction: row;
		width: 100%;
		margin: 0 auto;
		justify-content: center;
		padding: 250px 0 10px 0;
		max-width: 1440px;
	}

	.card__sedans {
		border-top-right-radius: 0;
		border-bottom-left-radius: var(--border-radius-cards-container);
	}

	.card__luxury {
		border-bottom-left-radius: 0;
		border-top-right-radius: var(--border-radius-cards-container);
	}

	.cards--paragraph {
		width: 211px;
		margin-bottom: 50px;
	}
}
